@tailwind base;
@tailwind components;
@tailwind utilities;

.homebody {
    background-image: linear-gradient(135deg, rgb(255, 0, 102) 0%, #f52253 100%);
}



@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}


:root {
    --marquee-width: 80vw;

    --marquee-elements: 12;
    /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    overflow: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;

}

.marquee:after {
    right: 0;

}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 100%;
    /* height: 100%; */
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --marquee-width: 100vw;

        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7))
    }
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slide {
    height: 50px;
    width: 250px;
}

/** Responsive Design ***/

/** Mobile Screen First**/

@media (min-width: 360px) {
    .adiphonex, .adgrow {
        font-size: 2.3rem;
    }

    .adgrow {
        word-break: keep-all;
        font-weight: 700;
    }

    .adsvgsm {
        width: 1.5rem;
    }

    .addeal {
        font-size: 1.6rem;  
    }

    .adsmbreak {
        word-break: keep-all;
        line-break: auto;
    }

    .adsetupdemo {
        font-weight: 600;
        width: 11rem;
        font-size: 1.5rem;
    }

    .marquee {
        margin: auto;
        padding: 2rem;
    }

    .adsetup {
        font-size: 2rem;
    }

    .adfree {
        font-size: 1.8rem;
    }

    .adgetfree {
        width: 14rem;
        padding: 1.5rem 1rem;
        font-size: 1.5rem;
    }

    .adimg {
        max-width: 10rem;
    }

    .adnum {
        width: 2.5rem;
        height: 2.5rem;
    }

    .adtext {
        font-size: 1.95rem;
        padding: 0 0.5rem;
    }

    .adwith {
        font-size: 2rem;
    }

    .adinsight {
        font-size: 2rem;
    }

    .admetric {
        font-size: 1.77rem;
    }
}



@media (min-width: 430px) {
    .adsetup {
        font-size: 2.5rem;
        max-width: 230px;
    }

    .adfree {
        max-width: 400px; 
    }
}

/**tablet screen **/
@media (min-width: 640px) {
    .adgrow {
        max-width: 600px;
        width: 100%;
        word-wrap: none;
        font-size: 1.5rem;
    }

    .addeal {
        font-size: 1.4rem;
    }

    .adsvgsm {
        width: .9rem;
    }

    .marquee {
        width: 100%;
    }

    .adsetup {
        max-width: 400px;
    }

    .adsetupdemo {
        font-size: 1.2rem; 
    }

    .adfree {
        width: 10rem;
        font-size: 1rem;
    }

    .adgetfree {
        padding: .5rem 0;
        font-size: 1.3rem;
        width: 12rem;
    }

    .adpolicy {
        max-width: 600px;
        font-size: 1rem;
    }

    .addgood {
        max-width: 620px;
        font-size: 1.2rem;
    }

    .adimg {
        max-width: 8.5rem;
    }

    .adnum {
        width: 1.8rem;
        height: 1.8rem;
    }

    .adtext {
        font-size: 1.1rem;
    }

    .adtextsize {
        font-size: 1rem;
    }

    .adwith {
        font-size: 1.3rem;
        text-align: center;
        max-width: 600px;
    }

    .adinsight {
        font-size: 1.5rem;
    }

    .admetric {
        font-size: 1.2rem;
    }

    .adfellow {
        font-size: 1.1rem;
    }

    .adcurrent {
        font-size: 1rem;
    }

    .adearn {
        font-size: 1.2rem;
    }

    .adcopy {
        font-size: .8rem;
    }
}

@media (min-width: 768px) {

}